<div class="bm-routes-panel">
    <div class="bm-routes-header">
        routes
    </div>
    <div ng-repeat="route in user.routes">
        <md-fab-toolbar md-open="false" md-direction="left">
            <md-button class="bm-route-item-text" style="width: 100vw">
                /{{route.routename}}
            </md-button>
            <md-fab-trigger class="align-with-text">
                <md-button aria-label="menu" class="md-fab md-primary bm-route-options">
                    <md-icon class="bm-svg-purple" md-svg-src="assets/images/icons/ellipses.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-button aria-label="copy" class="md-icon-button" clipboard text="route.routename" on-copied="routesPanelCtrl.copySuccess()" on-error="routesPanelCtrl.copyFail(err)">
                        <md-icon md-svg-src="assets/images/icons/copy.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="edit" class="md-icon-button">
                        <md-icon class="bm-svg-purple" md-svg-src="assets/images/icons/edit.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="delete" class="md-icon-button">
                        <md-icon md-svg-src="assets/images/icons/delete.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>
        <md-divider></md-divider>
    </div>
    <md-fab-toolbar md-open="false" md-direction="left">
        <form ng-submit="routesPanelCtrl.addRoute()">
            <input class="bm-route-item-text bm-route-input" ng-model="routesPanelCtrl.newRoute" placeholder="+ add a new route">
        </form>
    </md-fab-toolbar>
</div>
