<div class="bm-landing-page-old">
    <!DOCTYPE html>
    <html lang="en">
    <div id="page-top2"></div>

    <body id="page-top" class="index">
        <!-- Header -->
        <header>
            <div class="container">
                <!-- Navigation -->
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand page-scroll" scroll-to="page-top2">Beamer</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="hidden">
                                    <a href="#page-top"></a>
                                </li>
                                <li>
                                    <a class="page-scroll" scroll-to="about-section">About</a>
                                </li>
                                <li>
                                    <a class="page-scroll" scroll-to="team-section">Team</a>
                                </li>
                                <li>
                                    <a class="page-scroll" scroll-to="story-section">Story</a>
                                </li>
                                <li>
                                    <a class="page-scroll" scroll-to="space-section">Space</a>
                                </li>
                                <li>
                                    <a class="page-scroll" scroll-to="contact-section">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <div class="intro-text">
                    <img class="intro-lead-in img-responsive" src="assets/images/gun.png">
                    </img>
                    <div class="intro-heading hidden-xs">
                        <center>Beam Your Stuff</center>
                    </div>
                    <div class="intro-heading visible-xs-block">
                        <center>Beamer</center>
                    </div>
                    <login-form></login-form>
                </div>
            </div>
        </header>
        <!-- About Section -->
        <section id="about-section" class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h2 class="section-heading">About</h2>
                        <h3 class="section-subheading text-muted">
                        Beamer is a lightening fast interface for accessing your website, giving you the ability to add, remove, or update any content at any time no matter where you are. 
                    </h3>
                    </div>
                </div>
                <i class="fa fa-user-plus"></i>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-aqua"></i>

                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">1. Create Your Beamer</h4>
                        <p class="text-muted"> Create your free account with Beamer in seconds</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-aqua"></i>
                        <i class="fa fa-crosshairs fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">2. Set Your Destination</h4>
                        <p class="text-muted"> Embed a simple script into up to five clients to instantly receive live content updates</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-aqua"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">3. Beam Your Stuff</h4>
                        <p class="text-muted">Use our intuitve interface to design and edit page content to immediately deploy to your site. Select from a variety of themes or easily create your own.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team Section -->
        <section id="team-section" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">The Beam Team</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="team-member">
                            <img src="views/landing/img/team/2.jpg" class="img-responsive img-circle" alt="">
                            <h4>Naila Nur</h4>
                            <p class="text-muted">Founder</p>
                            <ul class="list-inline social-buttons">
                                <li><a class="bm-social-icon-btn" href="https://ca.linkedin.com/in/nnur1"><i class="fa fa-linkedin" target="_blank"></i></a></li>
                                <li><a class="bm-social-icon-btn" href="https://angel.co/naila-nur-1" target="_blank"><i class="fa fa-angellist"></i></a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="views/landing/img/team/3.jpg" class="img-responsive img-circle" alt="">
                            <h4>Dylan Harness</h4>
                            <p class="text-muted">Project Manager</p>
                            <ul class="list-inline social-buttons">
                                <li><a class="bm-social-icon-btn" href="https://ca.linkedin.com/in/dharnesssoftware" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="bm-social-icon-btn" href="https://angel.co/dylsauce" target="_blank"><i class="fa fa-angellist"></i></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="large text-muted">We are always looking for passionate, talented developers and artists to join our team. If you want to join the cause send us an email and we will be sure to get in touch!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Story Section -->
        <section id="story-section" class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Our Story</h2>
                        <h3 class="section-subheading text-muted">From the world's best donut shop, to the worlds best CMS.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="views/landing/img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>June 2015</h4>
                                        <h4 class="subheading">A Spark of Genius</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Founders Naila Nur and Dylan Harness describe their vision for a simpler, faster, freer CMS on a Krispy Kreme napkin</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="views/landing/img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>July 2015</h4>
                                        <h4 class="subheading">Funding Desired</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">In spite of overwhelming positive reception from prospective clients, Beamer's two founders are penniless paupers in the slums of Waterloo, Canada.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="views/landing/img/about/3.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>September 2015</h4>
                                        <h4 class="subheading">Development Begins</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">The entire team relocates from Mom's basement to the glittering heart of Silicon Valley.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="views/landing/img/about/4.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>January 2016 </h4>
                                        <h4 class="subheading">Public Release!</h4>
                                        <h5>(Coming Soon!)</h5>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">After grinding out every bit and byte of code from a knobbly table in Starbucks, Beamer is almost, dare I say it, ALMOST, ready for public beta.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Space Grid Section -->
        <section id="space-section" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Our Space</h2>
                        <h3 class="section-subheading text-muted">Working out of Hacker Dojo, Mountain View, California.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="views/landing/img/portfolio/roundicons.png" class="img-responsive" alt="">
                        <div class="portfolio-caption">
                            <h4>Awesome Space</h4>
                            <p class="text-muted">Modern, comfortable design</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="views/landing/img/portfolio/startup-framework.png" class="img-responsive" alt="">
                        <div class="portfolio-caption">
                            <h4>Catered Meals</h4>
                            <p class="text-muted">Free team breakfast every Friday</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="views/landing/img/portfolio/treehouse.png" class="img-responsive" alt="">
                        <div class="portfolio-caption">
                            <h4>Friendly Community</h4>
                            <p class="text-muted">Game nights and social events</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section -->
        <section id="contact-section" class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center ">
                        <h2 class="section-heading text-white">Contact Us</h2>
                        <p class="text-white">Questions? Concerns? Just want to chat?</p>
                    </div>
                </div>
                <div class="row">
                    <center>
                        <button onclick="window.location.href = 'mailto:23naila.n@gmail.com?subject=Inquiry';" target="_blank" class="btn btn-xl btn-aqua">Send Message</button>
                    </center>
                </div>
            </div>
        </section>
        <footer class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Beamer 2015</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a class="bm-social-icon-btn" href="https://angel.co/beamer-1" target="_blank"><i class="fa fa-angellist"></i></a>
                            </li>
                            <li><a class="bm-social-icon-btn" href="https://www.linkedin.com/company/beamer" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</div>
