.bm-editor {
    #bm-text-editor {
        font-family: $font-lato!important;
        .btn-toolbar {
            font-family: $font-heiti!important;
            display: flex;
            flex-direction: row;
            justify-content: space-between!important;
            .btn-group {
                button {
                    height: 33px!important;
                    border-radius: 0px;
                    border-style: none!important;
                    font-family: $font-heiti;
                    background: $bright-purple;
                    color: $white;
                    box-shadow: none;
                    &:hover {
                        background: lighten($bright-purple, 10%);
                    }
                    &:active {
                        background: darken($bright-purple, 10%);
                    }
                }
            }
        }
    }
    .ta-editor {
        border-radius: 0px;
        outline: none;
        box-shadow: 1px 1px 5px 1px rgba(122, 121, 122, 0.73);
        border: none;
    }
}
