/* email pwd input form*/

.bm-btn-group {
    margin-top: remify(15);
    @extend .center-block;
    display: flex;
    layout-direction: row;
    justify-content: space-between;
    width: remify($form-width);
}

.bm-form-group {

    .bm-btn-group {
        margin-top: remify(15);
        @extend .center-block;
        display: flex;
        layout-direction: row;
        justify-content: space-between;

        width: remify($form-width);
    }

    input {
        @extend %bm-input;
        @include size(remify($form-width), remify(45));
        margin-bottom: 1rem;
    }
    .bm-login-error {
        @extend .center-block;
        @extend .bm-alert-error;
        width: remify($form-width);
    }

    @include placeholder {
        color: white;
    }

    margin-bottom: 1.5rem;
}

%bm-input {
    @extend .center-block;
    border-radius: 0;
    border-style: none;
    font-weight:300;
    font-family: $font-roboto;
    letter-spacing: 0.3rem;

    /* makes a clear bg, underlined input */
    background-color: transparent;
    color: $white;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid $white 2px;  
}