.bm-blog-search-bar {
    display: flex;
    flex-direction: row;
    input {
        margin-right: remify(11);
        flex: 1;
        @extend %bm-no-glow;
        border: none;
        border-bottom: 1px solid white;
        background: none;
        color: white;
        font-family: $font-heiti;
        font-size: remify(15);
    }
    .bm-search {
        margin-left: remify(11);
        margin-right: remify(11);
        @include svg-color(white)
    }
}
