.bm-routes-panel {
    @extend .center-block;
    width: 85%;
    @include on-small {
        width: 100%;
    }
    .bm-route-item-text {
        font-size: remify(22);
        color: $list-purple;
        font-family: $font-heiti;
        text-transform: none!important;
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 0px;
        padding-left: remify(15);
        border-radius: 0;
        height: 100%;
        width: 100vw;
        z-index: 1;
        position: absolute;
        md-divider {
            margin: 0;
        }
    }
    .md-fab-toolbar-content {
        display: flex;
        flex-direction: row;
    }
    md-toolbar {
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 0px !important;
        .md-fab {
            box-shadow: none!important;
        }
    }
    .md-fab {
        box-shadow: none;
    }
    .bm-routes-header {
        background-color: $really-light-purple;
        color: $medium-purple;
        font-size: remify(28);
        padding: remify(10);
        margin-top: 0;
        margin-bottom: 0;
        padding-left: remify(15);
        font-family: $font-heiti;
    }
}

.bm-route-options {
    background: none!important;
    @include on-xsmall {
        background-color: white!important;
    }
}
