$bm-sidebar-width: 264px;
.bm-sidebar {
    md-sidenav {
        background: url($bg);
    }
    .md-button {
        @extend .sidebarBtn;
    }
}

.bm-sidebar-list {
    list-style-type: none;
    li {
        width: 100%;
        background: $purple;
        color: white;
        padding: remify(15);
        margin-top: remify(1.5);
    }
}
