<!-- TEXT ANGULAR BLOG EDITOR -->
<div class="bm-blog-right-panel">
    <div class="bm-spacer-1"></div>
    <div class="bm-editor-wrapper">
        <div class="bm-editor">
            <form name="editBlogCtrl.form">
                <div class="bm-blog-title-input">
                    <input ng-model="editBlogCtrl.currentBlog.title" placeholder="title">
                </div>
                <div id="bm-text-editor" text-angular="text-angular" name="htmlcontent" ng-model="editBlogCtrl.currentBlog.text" ta-disabled='disabled' hotkey="{'command+s': alert('l')}">
                </div>
            </form>
        </div>
    </div>
    <!-- SPEED DIAL -->
    <div class="bm-fab-sidebar">
        <md-fab-speed-dial id="bm-blog-actions-fab" md-open="false" md-direction="up" ng-class="blogCtrl.selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon md-font-icon="fa fa-bars fa-2x"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <!-- BEAM -->
                <md-button id="beam" aria-label="Beam" class="md-fab md-raised md-mini" ng-click="editBlogCtrl.updateBlog()">
                    <md-tooltip md-direction="left">beam</md-tooltip>
                    <md-icon md-svg-src="assets/images/icons/bolt.svg" aria-label="beam"></md-icon>
                </md-button>
                <!-- DELETE -->
                <md-button id="delete" aria-label="Delete blog" class="md-fab md-raised md-mini" ng-click="editBlogCtrl.deleteBlog()">
                    <md-tooltip md-direction="left">delete</md-tooltip>
                    <md-icon md-svg-src="assets/images/icons/delete.svg" aria-label="delete"></md-icon>
                </md-button>
                <!-- CREATE -->
                <md-button id="create" aria-label="New blog" class="md-fab md-raised md-mini" ng-click="editBlogCtrl.showNewBlog()">
                    <md-tooltip md-direction="left">new blog</md-tooltip>
                    <md-icon md-svg-src="assets/images/icons/plus.svg" aria-label="new blog"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</div>
