@font-face {
    font-family: 'phosphateinline';
    src: url('../views/landing/fonts/phosphate-inline.eot');
    src: url('../views/landing/fonts/phosphate-inline.eot?#iefix') format('embedded-opentype'), 
	    url('../views/landing/fonts/phosphate-inline.woff2') format('woff2'), 
	    url('../views/landing/fonts/phosphate-inline.woff') format('woff'), 
	    url('../views/landing/fonts/phosphate-inline.ttf') format('truetype'), 
	    url('../views/landing/fonts/phosphate-inline.svg#phosphateinline') format('svg');
    font-weight: normal;
    font-style: normal;
}