@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

%bm-no-glow {
	outline:none;
	box-shadow:none;
}

%bm-flex-container-vertical-center {    
  display: flex!important;
  justify-content: center;
  flex-direction: column;
}

@function remify($px){
	$rem: $px/16;
	@return $rem - 0rem; 
}