// IMAGE PATHS
$bg: "../assets/images/background.png";

// FONTS
$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

// COLORS
$pink: #D16982;
$dark-pink: darken($pink, 5%);
$purple: #6F6889;
$dark-purple: #262039;
$yellow: #E2E470;
$white: #FFFFFF;
$grey: #eeeeee;
$bidvine-teal: #48bdbc;

// COMPONENT SPECIFIC
$form-width: 301;