<div class="row">
    <!-- login -->
    <div id="login" class="container collapse">
        <!-- FORM -->
        <form novalidate name="loginForm" class="bm-form-group">
            <div class="row">
                <div class="alert bm-login-error" ng-show="login.error">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span class="sr-only">Error:</span> {{login.error}}
                </div>
                <!-- INPUTS -->
                <input type="email" ng-model="user.email" placeholder="email" required>
                <input type="password" ng-model="user.pwd" name='pwd' placeholder="password" required>
            </div>
            <!-- BUTTON -->
            <div class="row">
                <div class="bm-btn-group">
                    <button type="button" data-toggle="collapse" data-target="#login" class="bm-ghost-btn" ng-click="showButt=true">Cancel</button>
                    <button type="button" ng-disabled="loginForm.$invalid" ng-click="login()" class="bm-solid-btn">LOG IN</button>
                </div>
            </div>
        </form>
    </div>
    <!-- signup -->
    <div id="signup" class="container collapse">
        <form novalidate name="signupForm" class="bm-form-group">
            <div class="row">
                <!-- ERRORS -->
                <div class="alert bm-gentle-reminder" ng-show="signupForm.uPwd.$error.minlength && signupForm.cPwd.$dirty">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span class="sr-only">Error:</span> password less than 6 chars
                </div>
                <div class="alert bm-gentle-reminder" ng-show="signupForm.uPwd.$error.maxlength">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span class="sr-only">Error:</span> password longer than 40 chars
                </div>
                <div class="alert bm-login-error" ng-show="signup.error">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span class="sr-only">Error:</span> {{signup.error}}
                </div>
                <!-- INPUTS -->
                <input type="text" ng-model="user.username" placeholder="username" required>
                <input type="email" ng-model="user.newEmail" placeholder="email" required/>
                <input type="password" ng-model="user.pwd1" name="uPwd" placeholder="password" required ng-minlength="6" ng-maxlength="40" />
            </div>
            <!-- BUTTONS -->
            <div class="row">
                <div class="bm-btn-group">
                    <button type="button" data-toggle="collapse" data-target="#signup" class="btn btn-default bm-ghost-btn" ng-click="showButt=true">Cancel</button>
                    <button ng-disabled="signupForm.$invalid" ng-click="signup()" class="btn btn-default bm-solid-btn">SIGN UP</button>
                </div>
            </div>
            <br>
        </form>
    </div>
    <!-- FORM TOGGLE BUTTONS -->
    <div class="row">
        <div class="bm-btn-group">
            <!-- buttons -->
            <button type="button" class="btn bm-ghost-btn" data-toggle="collapse" data-target="#signup" ng-show="showButt" ng-click="showButt=false">
                Sign up</button>
            <button type="button" class="btn bm-solid-btn" data-toggle="collapse" data-target="#login" ng-show="showButt" ng-click="showButt=false">Log in</button>
            <!-- buttons -->
        </div>
    </div>
</div>
