<div layout="horizontal" ng-cloak layout-fill class="bm-profile-view">
    <side-bar>
        <div id="bm-blogs-sidebar">
            <!-- USER INITIAL ICON -->
            <div id="bm-sidebar-top">
                <div class="bm-sidebar-icon">
                    <md-button class="md-fab">
                        <div class="bm-icon-letter">{{blogCtrl.currentUser.initial}}</div>
                    </md-button>
                </div>
            </div>
            <!-- BLOG LIST -->
            <div id="bm-sidebar-bottom-blogs">
                <md-list class="bm-blogs-list">
                    <!-- BLOG ENTRY -->
                    <div ng-repeat="blog in blogCtrl.blogs">
                        <md-list-item class="bm-blog-list-item">
                            <md-button class="bm-blog-btn-container" ng-class-even="'bm-btn-dark'" aria-label="aria-sucks">
                                <div class="bm-blog-list-item-button">
                                    <!-- Beamed/Draft Icon -->
                                    <div class="bm-blog-beamed-icon">
                                        <md-button class="md-fab" ng-class="'bm-beamed'">
                                            <md-icon class="bm-check" md-svg-src="assets/images/icons/check.svg"></md-icon>
                                        </md-button>
                                    </div>
                                    <!-- Blog Name -->
                                    <div class="bm-blog-text">
                                        <div id="text-w-ellipses">
                                            <div>{{blog.title | limitTo: '32'}}</div>
                                            <div ng-show="blog.title.length >= 32">...</div>
                                        </div>
                                    </div>
                                </div>
                            </md-button>
                        </md-list-item>
                    </div>
                </md-list>
            </div>
        </div>
    </side-bar>
    <!-- 
        PAGE CONTENTS
     -->
    <div flex layout="vertical" tabIndex="-1" role="main">
        <md-content flex>
            <!-- 
                TOOL BAR
            -->
            <md-toolbar class="bm-profile-toolbar">
                <div class="md-toolbar-tools">
                    <md-icon id="hamburger" hide-gt-sm ng-click="profileCtrl.openUserMenu()" md-svg-src="assets/images/icons/hamburger.svg"></md-icon>
                    <span flex></span>
                    <md-icon id="user" md-svg-src="assets/images/icons/user.svg" ng-click="profileCtrl.logoutModal.show()"></md-icon>
                </div>
            </md-toolbar>
        </md-content>
    </div>
</div>
