<div layout="horizontal" ng-cloak layout-fill class="bm-profile-view">
    <side-bar>
        <div id="bm-blogs-sidebar">
            <!-- USER INITIAL ICON -->
            <div id="bm-sidebar-top">
                <div class="bm-sidebar-icon">
                    <md-button class="md-fab" ng-click="blogCtrl.go('profile')">
                        <div class="bm-icon-letter">{{blogCtrl.currentUser.initial}}</div>
                    </md-button>
                </div>
            </div>
            <!-- BLOG LIST -->
            <div class="bm-blog-search-bar">
                <md-icon class="bm-search" md-svg-src="assets/images/icons/search.svg"></md-icon>
                <input ng-model="blogCtrl.searchQuery">
            </div>
            <search-blogs-list blogs="blogCtrl.blogs" id="bm-sidebar-bottom-blogs" ng-class="{'bm-no-blogs' : blogCtrl.blogs.length == 0}"></search-blogs-list>
        </div>
    </side-bar>
    <!-- 
        PAGE CONTENTS
     -->
    <div flex layout="vertical" tabIndex="-1" role="main">
        <md-content flex>
            <!-- 
                TOOL BAR
            -->
            <md-toolbar class="bm-profile-toolbar">
                <div class="md-toolbar-tools">
                    <md-icon id="hamburger" hide-gt-sm ng-click="blogCtrl.openSidebar()" md-svg-src="assets/images/icons/hamburger.svg"></md-icon>
                    <span flex></span>
                    <md-icon id="user" md-svg-src="assets/images/icons/user.svg" ng-click="blogCtrl.logoutModal.show()"></md-icon>
                </div>
            </md-toolbar>
            <!-- TEXT ANGULAR BLOG EDITOR -->
            <ui-view></ui-view>
            <md-fab-speed-dial md-open="false" md-direction="up" ng-class="blogCtrl.selectedMode">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-svg-src="assets/images/icons/hamburger.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="New" class="md-fab md-raised md-mini">
                        +
                        <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
                    </md-button>
                    <md-button aria-label="Delete" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="assets/images/icons/delete.svg" aria-label="Facebook"></md-icon>
                    </md-button>
                    <md-button aria-label="Beam" class="md-fab md-raised md-mini" ng-click="blogCtrl.createBlog()">
                        <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </md-content>
    </div>
</div>
