<div id="bm-page-wrapper">
    <side-bar>
        <ul>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
            <li>Erin Greenspeld</li>
        </ul>
    </side-bar>
    <!-- everything else -->
    <div class="bm-right-panel">
        <div class="bm-profile-icon">
            <img src="assets/images/profile_icon.svg">
        </div>
        <h4>I am The Title Now</h4>
        <p>
            <route-list-item routes="thisCtrl.userRoutes"></route-list-item>
        </p>
    </div>
</div>
