<div layout="horizontal" ng-cloak layout-fill>
    <side-bar>
        <md-list>
            <md-list-item>
                <md-button>
                    {{profileCtrl.user.email}}
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button>
                    {{profileCtrl.user.username}}
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button>
                    Delete User
                </md-button>
            </md-list-item>
        </md-list>
    </side-bar>
    <!-- 
     -->
    <div flex layout="vertical" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-content flex>
            <md-button hide-gt-sm ng-click="profileCtrl.toggleList()">
                OPEN
            </md-button>
            I am the content on the right
        </md-content>
    </div>
</div>
