<md-list class="bm-blogs-list" ng-show="searchBlogsListCtrl.blogs.length">
    <!-- BLOG ENTRY -->
    <div vs-repeat>
        {{searchBlogsListCtrl.noBlogs}}
        <div ng-repeat="blog in searchBlogsListCtrl.blogs">
            <md-list-item class="bm-blog-list-item">
                <md-button ng-click="searchBlogsListCtrl.openBlog(blog)" class="bm-blog-btn-container" ng-class-even="'bm-btn-dark'" aria-label="aria-sucks">
                    <div class="bm-blog-list-item-button">
                        <!-- Beamed/Draft Icon -->
                        <div class="bm-blog-beamed-icon">
                            <md-button class="md-fab" ng-class="'bm-beamed'" aria-label="beamed icon">
                                <md-icon class="bm-check" md-svg-src="assets/images/icons/check.svg"></md-icon>
                            </md-button>
                        </div>
                        <!-- Blog Name -->
                        <div class="bm-blog-text">
                            <div id="text-w-ellipses">
                                <div>{{blog.title | limitTo: '32'}}</div>
                                <div ng-show="blog.title.length >= 32">...</div>
                            </div>
                        </div>
                    </div>
                </md-button>
            </md-list-item>
        </div>
    </div>
</md-list>
<div class="bm-no-blogs-message" ng-show="searchBlogsListCtrl.noBlogs">
    <p>No blogs yet.</p>
    <p>Why not write some!</p>
</div>
<div class="bm-no-blogs-message" ng-show="searchBlogsListCtrl.blogs.length === 0" ng-hide="searchBlogsListCtrl.noBlogs">
    <p>No search results were found.</p>
</div>
